.whole{
background: url(https://t4.ftcdn.net/jpg/04/61/47/03/360_F_461470323_6TMQSkCCs9XQoTtyer8VCsFypxwRiDGU.jpg);
  background-size: cover;
}
.chote{
    height:100px;
    position: relative;
    top:40px;
}
.cent{
    color:seagreen;
    font-weight:900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size:70px;
    text-align:center;
}
.start{
      display:flex;
      gap:10px;
      justify-content:center;
      position: relative;
      top:100px;
}
.drum{
    height:150px;
    width:150px;
    font-size:50px;
    box-shadow: 1px 1px 3px black;
}
.s{
    background-image:url(image/kick.png);
    color:blueviolet;
}
.h{
    background-image: url(image/tom2.png);
    color:cadetblue;
}
.u{
    background-image:url(image/tom3.png);
    color:burlywood;
}
.b{
    background-image:url(image/tom4.png);
    color:cornflowerblue;
}
.i{
    background-image:url(image/snare.png);
    color:blue;
}
.o{
    background-image:url(image/tom1.png);
    color:goldenrod;
}
.m{
    background-image:url(image/crash.png);
    color:lawngreen;
}
.love{
  height:40px;
  text-align:center;
  position: relative;
  top:100px;
  font-size:60px;
  color:yellow;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:900;
  font-style: oblique;
}